# Example people config with pyramid feature extractor
# For each experiment, copy this config and modify the copy

# The test for sparse non-homogeneous pooling both after vgg and after fpn
#07122018: try to use only one sparse pooling, which is right after vgg

model_config {
    model_name: 'retinanet_model'
    checkpoint_name: 'r3det_car_SHPL_0709'

    input_config {
        bev_depth: 3
        img_depth: 3
        img_dims_w: 1200
        img_dims_h: 360
    }

    retinanet_config {
        nms_iou_thresh: 0.2
        nms_size: 100 
        use_sparse_pooling: True
        use_pyramid_level_at_SHPL: 'P2'
        refine_stage_num: 1
        refine_pos_iou_thresh: [0.65, 0.6]
        refine_neg_iou_thresh: [0.55, 0.5]
        add_h: True
        add_angle: True
    }
    label_smoothing_epsilon: 0.001
    # To disable path drop, set both to 1.0
    train_on_all_samples: False
    eval_all_samples: False #True

    layers_config {
        bev_feature_extractor {
            bev_resnet_fpn {
                resnet_name: 'resnet50_v1d',
                pyramid_levels: ['P2', 'P3', 'P4'],
                load_from_pretrained: True
            }
        }
        img_feature_extractor {
            img_resnet_fpn {
                resnet_name: 'resnet50_v1d',
                pyramid_levels: ['P2', 'P3', 'P4'],
                load_from_pretrained: True
            }
        }
    }

    # Loss function weights
    loss_config {
        cls_loss_weight: 1.0
        reg_loss_weight: 1.5
        ang_loss_weight: 2.0
        h_loss_weight: 5.0
    }
}

train_config {

    batch_size: 1

    optimizer {
        adam_optimizer {
            learning_rate {
                exponential_decay_learning_rate {
                    initial_learning_rate: 0.0001
                    decay_steps: 10000 #30000
                    decay_factor: 0.8
                }
            }
        }
    }

    overwrite_checkpoints: False
    load_pretrained_backbone: True

    max_checkpoints_to_keep: 50
    max_iterations: 120000
    checkpoint_interval: 2000

    summary_interval: 100
    summary_histograms: False
    summary_img_images: False
    summary_bev_images: False

    allow_gpu_mem_growth: True
}

eval_config {
    eval_interval: 2000
    eval_mode: 'val'
    ckpt_indices: -1
    evaluate_repeatedly: True #False
    allow_gpu_mem_growth: True
}

dataset_config {
    name: 'kitti'

    dataset_dir: '~/Dataset/kitti/object'
    # data_split: 'train'

    data_split_dir: 'training'
    has_labels: True

    cluster_split: 'train'
    classes: ['Car']
    num_clusters: [1]

    bev_source: 'lidar'
    aug_list: [] #['flipping', 'pca_jitter']

    #WZN: output voxel indices, mostly for sparse pooling
    output_indices: True
    use_pyramid_level_at_SHPL: 'P2'

    kitti_utils_config {
        area_extents: [-40, 40, -5, 3, 0, 70]
        voxel_size: 0.1
        anchor_strides: [0.5, 0.5, 0.5, 0.5]
        density_threshold: 1

        bev_generator {
            slices {
                height_lo: -0.2
                height_hi: 2.3
                num_slices: 5
            }
        }
        mini_batch_config {
            density_threshold: 1
            use_retinanet: True
            retinanet_config {
                pyramid_levels: ['P2','P3', 'P4']
                anchor_scales: [0.5, 1.0, 1.414]
                anchor_ratios: [0.25, 0.5, 1.0, 2.5, 4.0]
                iou_type: '2d'
                iou_2d_thresholds {
                    neg_iou_lo: 0.0
                    neg_iou_hi: 0.4
                    pos_iou_lo: 0.5
                    pos_iou_hi: 1.0
                }
            }
        }
    }
}
